*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

p{
    font-size: 15px;
}

$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$gray: hsl(216, 12%, 54%);
$blue: hsl(213, 19%, 18%);
$dark-blue: hsl(216, 12%, 8%);
$orange: hsl(25, 97%, 53%);


.attribution { 
    position: absolute;
    font-size: 11px; 
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: nowrap;
}
.attribution a { color: hsl(228, 45%, 44%); }



